*.zip filter=lfs diff=lfs merge=lfs -text
data/processed/covid_estados_dataset.csv
git[[:space:]]lfs[[:space:]]track[[:space:]]data/processed/covid_estados_dataset.csv filter=lfs diff=lfs merge=lfs -text
