# Arquivos e diretórios a serem ignorados pelo Git
# Arquivos de configuração local
.config/
.vscode/

# Dependências de pacotes
coronaDash_env/
notebooks/.ipynb_checkpoints/

# Arquivos gerados automaticamente
__pycache__/

# Arquivos de log
*.log

# Arquivos com extensão .csv do data/raw
data/raw/*.csv
data/raw/*.xls